<div id="contacts" class="text-center my-5">


    <div class="card text-center">
        <div class="card-header m-2 text-info">
            <h5> Связь со мной</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Вы можете связаться со мной в одном из сообществ:</p>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Tooltip on top">
                Вконтакте
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-title="Tooltip on right">
                Youtube
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Tooltip on bottom">
                Github
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left"
                    data-bs-title="Tooltip on left">
                Telegram
            </button>
        </div>
    </div>


</div>