<div id="projects" class="projects text-center mt-5">


    <div class="card m-auto" style="max-width: 18rem;">
        <div class="card-header m-2 text-info">
            <h5> Мои проекты</h5>
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-primary" data-bs-toggle="collapse"
               href="#collapseExample1" role="button"
               aria-expanded="false" aria-controls="collapseExample1">
                My English Coach
            </a>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    Flask приложение, использующее flask view, postgres
                    <a href="http://doyouknow.pythonanywhere.com/" target="_blank">link</a>
                </div>
            </div>
            <!--                -->

            <a class="list-group-item list-group-item-action list-group-item-secondary" data-bs-toggle="collapse"
               href="#collapseExample2" role="button"
               aria-expanded="false" aria-controls="collapseExample2">
                My blog on Flask
            </a>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    Flask blog, регистриция, авторизация, аккаунт, емайл
                    <a href="http://mikedoit.pythonanywhere.com/" target="_blank">link</a>

                </div>
            </div>

            <!--                -->

            <a class="list-group-item list-group-item-action list-group-item-success" data-bs-toggle="collapse"
               href="#collapseExample3" role="button"
               aria-expanded="false" aria-controls="collapseExample3">
                ToDo Django
            </a>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    ToDo менеджер на Django
                    <a href="https://todo-app-django-mike.herokuapp.com/" target="_blank">link</a>

                </div>
            </div>

            <!--                -->

            <a class="list-group-item list-group-item-action list-group-item-danger" data-bs-toggle="collapse"
               href="#collapseExample4" role="button"
               aria-expanded="false" aria-controls="collapseExample4">
                ToDo Flask
            </a>
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    ToDo менеджер на Flask
                    <a href="https://todo-on-flask.herokuapp.com/" target="_blank">link</a>

                </div>
            </div>

            <!--                -->

            <a class="list-group-item list-group-item-action list-group-item-warning" data-bs-toggle="collapse"
               href="#collapseExample5" role="button"
               aria-expanded="false" aria-controls="collapseExample5">
                Учебный класс Летающий цирк Монти Пайтона
            </a>
            <div class="collapse" id="collapseExample5">
                <div class="card card-body">
                    Группа ВК. Присоединяйся, друг.
                    <a href="https://vk.com/python_for_me" target="_blank">link</a>

                </div>
            </div>

            <!--                -->

            <a class="list-group-item list-group-item-action list-group-item-info" data-bs-toggle="collapse"
               href="#collapseExample6" role="button"
               aria-expanded="false" aria-controls="collapseExample6">
                Мой Git
            </a>
            <div class="collapse" id="collapseExample6">
                <div class="card card-body">
                    Мой аккаунт на GITHUB
                    <a href="https://github.com/MikesoWeb" target="_blank">link</a>

                </div>
            </div>

            <!--                -->

            <a class="list-group-item list-group-item-action list-group-item-light" data-bs-toggle="collapse"
               href="#collapseExample7" role="button"
               aria-expanded="false" aria-controls="collapseExample7">
                Мой Youtube канал
            </a>
            <div class="collapse" id="collapseExample7">
                <div class="card card-body">
                    Канал, посвящен моим проектам на Python
                    <a href="https://www.youtube.com/c/MikedoIT" target="_blank">link</a>

                </div>
            </div>

        </div>


    </div>